# ===================================
# Configuration Base de Données PostgreSQL
# ===================================
DB_NAME=Activities
DB_USER=api_client
DB_PASSWORD=ActApi24*
DB_PORT=5432
# ===================================
# Configuration Application Spring Boot
# ===================================
APP_PORT=8080
# ===================================
# Configuration JPA/Hibernate
# ===================================
# Options: create, create-drop, update, validate, none
SPRING_JPA_HIBERNATE_DDL_AUTO=update
# ===================================
# Configuration Logs
# ===================================
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_ACTIVITIES_COM_BACKEND=DEBUG
